@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(173, 170, 170);
    width: 268px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    width: 90vw;
    /* background-color: yellow; */
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: pink; */
    height: 58vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin: 144px auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

.pic img {
    height: 58vh;
}

.hello {
    font-size: 65px;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}

.about {
    font-size: 40px;
}

.moreabout {
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 34px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 144px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#form-check{
    flex-direction: row;
    
}
#form-check input{
    width: 24px;
    margin: 3px 0;
    
}
#emailHelp {
    font-size: 11px;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
/* blog css */
.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;

}
.blogContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
    
}
.blogItem p{
    font-family: 'Source Code Pro', monospace;
    
}
/* intro css */
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    
}
.skillContainer{
    padding: 12px;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}
.hundered{
    width: 265px;
    background-color: violet;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
@media (max-width:1275px){
    *{
        background-color: red;
    }
    .sidebar{
        transform: translate(-443px 0);
        position: absolute;
    }
}